body, h3 {
	font: 62.5% Verdana,Arial,sans-serif;
	margin: 50px;
}

h3{
	font-size: 14px !important;
	font-variant: small-caps;
}

.demoHeaders {
	margin-top: 2em;
}

#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

.divClass {
	padding: 4px;
	display: block;
}

button {
	cursor: pointer;
}

/* Validation related */
.label,.badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999
}

.label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.badge {
	padding-right: 9px;
	padding-left: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px
}

.label:empty,.badge:empty {
	display: none
}

a.label:hover,a.badge:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.label-important,.badge-important {
	background-color: #b94a48
}

.divEdit{
	border: 1px solid #C7C7C7;
}
th{
	font-variant: small-caps;
}
.jqx-input{
	padding-left:4px !important;
}